<form novalidate [formGroup]="loginForm" (ngSubmit)="onsubmit()" >
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">  
              <div class="mb-md-5 mt-md-4">  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>  
                <div class=form-group 
                  [ngClass]="{'has-danger': email.invalid && (email.dirty|| email.touched),'has-success': email.invalid && (email.dirty|| email.touched)}">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" formControlName="email">
     <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
     <p *ngIf="email.errors['required']">Email is required</p>     
     </div>
     </div>    
     <div class=form-group 
     [ngClass]="{'has-danger': password.invalid && (password.dirty|| password.touched),'has-success': password.invalid && (password.dirty|| password.touched)}">
     <label for="password" class="form-label">Password</label>
     <input type="text" class="form-control" formControlName="password">
<div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
<p *ngIf="password.errors['required']">Password is required</p>
<p *ngIf="password.errors['minlength']">password must be 8 characters long</p>
</div>
</div>   
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button> 
              </div>  
              <div>
                <p class="mb-0">Don't have an account? <a routerLinkActive="active" routerLink="/register" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>